@using HitechCraft.Core.Models.Json
@using HitechCraft.WebApplication.Manager
@model HitechCraft.WebApplication.Models.ServerViewModel
@{
    ViewBag.Title = "Сервер " + Model.Name;
}

@if (Model != null)
{
    <h2 class="page-title">@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-5">
            @if (Model.Image != null && Convert.ToBase64String(Model.Image) != String.Empty)
            {
                <img alt="" id="server-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" />
            }
            else
            {
                <img alt="" id="server-image" src="~/Content/Images/no-image.jpg" />
            }
        </div>
        <div class="col-md-7">
            <p>Статус: @Html.ServerStatusLabel(Model.Data.Status, Model.Data.Message)</p>

            @if (Model.Data.Status == JsonMinecraftServerStatus.Empty || Model.Data.Status == JsonMinecraftServerStatus.Full || Model.Data.Status == JsonMinecraftServerStatus.Online)
            {
                <p>Игроки: @(Model.Data.PlayerCount) из @(Model.Data.MaxPlayerCount)</p>
            }

            <p>Версия @Model.ClientVersion</p>

            <p>
                Установленные модификации:<br />
                @if (Model.Modifications != null && Model.Modifications.Any())
                {
                    foreach (var mod in Model.Modifications)
                    {
                        <a href="@Url.Action("Details", "Modification", new {id = mod.Id})">@mod.Name</a><br />
                    }
                }
                else
                {
                <p>Модификаций нет (ванильный сервер)</p>
                }
                </p>

                @if (User.IsInRole("Administrator"))
                {
                    <p>
                        <a class="btn btn-primary" href="@(Const.WebAdminBaseUrl + "Server/Edit/" + Model.Id)">Администрирование</a>
                    </p>
                }

                @*@if (Model.ServerData.Status == JsonServerStatus.Online)
                    {
                    <div class="progress progress-striped active" style="width: 500px">
                        <div class="progress-bar" style="width: @((int)((float)Model.ServerData.PlayerCount / Model.ServerData.MaxPlayerCount * 100f))%"></div>
                    </div>
                    }*@
            </div>
        </div>
    <p>Описание:
        <p>@Model.Description</p>
    </p>
    <div style="min-height:200px">
        @if (Model.Data.Status == JsonMinecraftServerStatus.Error || Model.Data.Status == JsonMinecraftServerStatus.Offline)
        {
        <h1 class="server-map-title">
            Интерактивная карта
        </h1>
        <h3>Интерактивная карта сервера не доступна. Сервер выключен.</h3>
        }
        else if (Model.MapPort == 0)
        {
        <h1 class="server-map-title">
            Интерактивная карта
        </h1>
        <h3>Интерактивная карта не установлена на данном сервере!</h3>
        }
        else
        {
        <h1 class="server-map-title">
            Интерактивная карта
            <a href="http://@(Model.IpAddress):@(Model.MapPort)" target="_blank">
                <span class="glyphicon glyphicon-fullscreen server-map-fullscreen" title="Полный экран"></span>
            </a>
        </h1>
        <iframe class="server-map" src="http://@(Model.IpAddress):@(Model.MapPort)"></iframe>
        }
    </div>
}
else
{
    <h2>Ошибка</h2>
    <p>@ViewBag.Error</p>
}