@model HitechCraft.WebApplication.Models.NewsViewModel
@{
    ViewBag.Title = Model.Title;
}

@Html.Partial("_TitleBox")

<div class="content">
    @Html.Partial("_Sidebar")

    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                @Model.Title
                @if (User != null && User.IsInRole("Administrator"))
                {
                    <div class="news-modify">
                        <span class="glyphicon glyphicon-pencil" onclick="document.location = '@Url.Action("Edit", new {id = Model.Id})'"></span>
                        <span class="glyphicon glyphicon-remove" onclick="document.location = '@Url.Action("Delete", new {id = Model.Id})'"></span>
                    </div>
                }
            </div>
            <div class="panel-body">
                <div class="col-md-12" style="min-height: 250px">
                    @if (Convert.ToBase64String(Model.Image) != String.Empty)
                    {
                        <img alt="" class="news-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" />
                    }
                    else
                    {
                        <img alt="" class="news-image" src="~/Content/Images/no-image.jpg" />
                    }
                    <div class="news-text" id="news-text">
                        
                    </div>
                </div>
            </div>
            <div class="panel-footer cols">
                <span class="footer-left">Просмотров: @Model.ViewersCount</span>
                <span class="footer-right">Дата: @Model.TimeCreate.ToShortDateString()</span>
                <div class="clear"></div>
            </div>
        </div>

        <div class="well">
            @if (User != null && User.Identity.IsAuthenticated)
            {
                <div class="comment-add">
                    <h5>Добавить комментарий</h5>
                    <input type="hidden" id="newsId" value="@Model.Id"/>
                    <div class="form-group">
                        <label>Текст комментария</label>
                        <textarea id="ncomment-text" class="form-control"></textarea>
                        <span id="error-alert"></span>
                    </div>
                    <div name="Recaptcha" id="Recaptcha" class="g-recaptcha" data-sitekey="6LcdfycTAAAAAM0Ug6A-0YdyR4VcbSPolCIz3raD"></div>
                    <div class="form-group">
                        <button class="btn btn-default" onclick="javascript:AddComment();">Опубликовать</button>
                    </div>
                </div>
            }
            else
            {
                <p>Для того чтобы добавить комментарий вы должны @Html.ActionLink("войти", "Login", "Account", new { returnUrl = "/News/Details/" + Model.Id }, new { })</p>
            }
        </div>

        <div id="comments">
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        LoadNewsText();
        LoadComments(1);
    });

    function LoadNewsText() {
        //Темная магия
        var text = "@Model.FullText";
        var tags = ['[p]', '[/p]', '[br]', '[ul]', '[/ul]', '[li]', '[/li]', '[b]', '[/b]', '[h5]', '[/h5]'];

        $.each(tags, function(index, value) {
            var tag = value.replace(/\[/gi, '<').replace(/\]/gi, '>');
            value = value.replace(/\[/gi, '\\[').replace(/\]/gi, '\\]');

            var regExp = new RegExp(value,"gi");

            text = text.replace(regExp, tag);
        });

        text = text + '<h5>@Model.AuthorName</h5>'; //small fix for sign

        $('#news-text').html('');
        $('#news-text').html(text);
    }

    function FilterComments(currentPage) {
        LoadComments(currentPage);
    }

    function LoadComments(currentPage) {
        $.get("@Url.Action("CommentsPartialList", "News")", { page: currentPage, newsId : @Model.Id })
        .done(function (data) {
            $('#comments').html('');
            $('#comments').html(data);
        });
    }

    function AddComment() {

        var captchaInfo = grecaptcha.getResponse();

        $.post("@Url.Action("Create", "Comment")", { newsId: parseInt($('#newsId').val()), text: $('#ncomment-text').val(), recaptcha: captchaInfo })
        .done(function (data) {
            if (data == "OK") {
                growlSuccess("Комментарий добавлен!");

                setTimeout(function() {
                    location.reload();
                }, 2000);
            } else {
                $('#error-alert').html('');
                $('#error-alert').html(data);
            }
        });
    }

    function RemoveComment(commentId) {
        if (confirm("Вы уверены?")) {
            $.post("@Url.Action("Delete", "Comment")", { id : commentId })
            .done(function (data) {
                LoadComments(1);
            });
        }
    }

    //function EditComment(commentId) {
    //    var text = $('#comment-text' + commentId + '>p').html();

    //    $('#comment-text' + commentId).html('<textarea>' + text + '</textarea>');
    //    $('#comment-edit-btn').html('Сохранить');
    //    $('#comment-edit-btn').attr('onclick', 'javascript:SaveComment(' + commentId + ')');
    //}


</script>
