@using PagedList.Mvc
@model PagedList.IPagedList<HitechCraft.WebAdmin.Models.ApplicationUser>

@Html.Partial("_PlayerInfoModal")

<table class="table table-bordered table-centered">
    <tr>
        <th>Игрок</th>
        <th>Email</th>
        <th>User Id</th>
        <th>User Roles</th>
        <th>Действия</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr@(Html.Action("CheckUserGameAccount", new { userName = user.UserName }).ToString() == "False" ? " class=accountError" : String.Empty)>
            <td>
                <p>@user.UserName</p>
                <img src="data:image/jpeg;base64,@Html.Action("GetSkinImage", "User", new {gender = Html.Action("GetPlayerGender", new {playerName = user.UserName}), userName = user.UserName})" id="skin-image" class="@("avaSkin" + user.Id)" hidden="" />
            </td>
            <td>@user.Email</td>
            <td>@user.Id</td>
            <td>@Html.Action("UserRolesPartial", new { userName = user.UserName })</td>
            <td>
                <div class="btn-group">
                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @if (Html.Action("CheckUserGameAccount", new { userName = user.UserName }).ToString() != "False")
                        {
                            <li><a href="javascript:LoadPlayerInfo('@user.UserName')">Инфо</a></li>
                            <li><a href="@Url.Action("Roles", new { userName = user.UserName })">Изменить роли</a></li>
                            <li role="separator" class="divider"></li>
                            if (Html.Action("CheckBan", new { userId = user.Id }).ToString() == "True")
                            {
                                <li><a href="javascript:UnbanUser('@user.Id')">Разблокировать</a></li>
                            }
                            else
                            {
                                <li><a href="javascript:BanUser('@user.Id')">Заблокировать</a></li>
                            }
                        }
                        else
                        {
                            <li><a href="@Url.Action("FixUserAccount", new { userName = user.UserName, gender = Html.Action("GetPlayerGender", new {playerName = user.UserName}), email = user.Email})" id="fixAccount">Исправить!!!</a></li>
                        }
                    </ul>
                </div>
            </td>
            </tr>
    }
</table>

@Html.PagedListPager(Model, page => "javascript:FilterUsers(" + page + ")")

<script type="text/javascript">

    $(document).ready(function () {
        @foreach (var user in Model)
        {
            <text>
        renderMCSkins('@("avaSkin" + user.Id)', 4);
        $('.@("avaSkin" + user.Id)').css('border', '2px solid');
        </text>
        }
    });

    function BanUser(id) {
        if (confirm('Действительно забанить пользователя?')) {
            $.post('@Url.Action("BanUser")',
                {
                    userId: id
                })
                .done(function (data) {
                    if (data.status === "OK") {
                        growlSuccess(data.message);
                        document.location.reload();
                    } else {
                        growlError(data.message);
                    }
                });
        }
    }

    function UnbanUser(id) {
        if (confirm('Действительно разбанить пользователя?')) {
            $.post('@Url.Action("UnbanUser")',
                {
                    userId: id
                })
                .done(function (data) {
                    if (data.status === "OK") {
                        growlSuccess(data.message);
                        document.location.reload();
                    } else {
                        growlError(data.message);
                    }
                });
        }
    }

    function LoadPlayerInfo(user) {
        $.ajax({
            url: '@Url.Action("PlayerInfoPartial")',
            data: {
                userName: user
            }
        })
            .done(function (data) {

                $('#playerInfo').html('');
                $('#playerInfo').html(data);

                $('#playerInfoModal').modal();
            });
    }
</script>