@model IEnumerable<HitechCraft.WebApplication.Models.SkinViewModel>
@{
    ViewBag.Title = "Каталог скинов";
}

<h2 class="page-title">@ViewBag.Title</h2>

@if (Model != null && Model.Any())
{
    foreach (var skin in Model)
    {
        <div id="@("skinpreview" + skin.Id)" class="skinpreview" height="100%" width="100%"></div>
    }
}
else
{
    <h3>Скинов нет!</h3>
}

@if (User != null && User.IsInRole("Administrator"))
{
    @Html.ActionLink("Добавить скин", "Create", null, new { @class = "btn btn-success" })
}

<script>
    @if (Model != null && Model.Any())
    {
        foreach (var skin in Model)
        {
            <text>
                var @("P" + skin.Id) = new MSP({
                    showcape: true,
                    running: false,
                    spin: false,
                    freezecamera: true,
                    container: "#@("skinpreview" + skin.Id)"
                });
                @("P" + skin.Id).changeSkin('data:image/jpeg;base64,@Convert.ToBase64String(skin.Image)');
            </text>
        }
    }
</script>