@using HitechCraft.DAL.Domain.Extentions
@using PagedList.Mvc
@model PagedList.IPagedList<HitechCraft.WebAdmin.Models.NewsViewModel>

<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Название</th>
        <th>Текст</th>
        <th>Автор</th>
        <th>Действия</th>
    </tr>
    @foreach (var news in Model)
    {
        <tr>
            <td>
                @if (news.Image != null && Convert.ToBase64String(news.Image) != String.Empty)
                {
                    <img alt="" id="news-image" src="data:image/jpeg;base64,@Convert.ToBase64String(news.Image)" />
                }
                else
                {
                    <img alt="" id="news-image" src="~/Content/Images/no-image.jpg" />
                }

            </td>
            <td>@news.Title</td>
            <td>@Html.Raw(news.FullText.Limit(100))</td>
            <td>@news.AuthorName</td>
            <td>
                <div class="btn-group">
                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Details", "News", new { id = news.Id })">Инфо</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("Edit", "News", new { id = news.Id })">Изменить</a></li>
                        <li><a href="javascript:DeleteNews('@news.Id')">Удалить</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => "javascript:FilterNews(" + page + ")")

<script type="text/javascript">

    function DeleteNews(newsId) {
        if (confirm('Вы действительно хотите удалить новость?')) {
            $.post('@Url.Action("Delete", "News")',
                {
                    id: parseInt(newsId)


                },
                function (responce) {
                    if (responce.status === 'OK') {
                        growlSuccess(responce.message);
                        setTimeout(function () {
                            document.location.reload();
                        },
                                2000);
                    } else {
                        growlError(responce.message);
                    }
                });
        }
    }
</script>