@model HitechCraft.WebAdmin.Models.NewsEditViewModel
@{
    ViewBag.Title = "Создать новость";
}

<h2 class="page-title">@ViewBag.Title</h2>
@using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Text)
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
                @Html.ActionLink("Отмена", "Index", "News", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="col-md-6">
            <label>Изображение</label>
            <br />
            <img alt="" id="news-image" src="~/Content/Images/no-image.jpg" />

            <div class="form-group image-changer">
                <a href="#" class="btn btn-primary">Выбрать изображение</a>
                <input type="file" name="uploadNewsImage" id="uploadNewsImage" />
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    tinymce.init({ selector: 'textarea' });

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#news-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#uploadNewsImage").change(function () {
        readURL(this);
    });
</script>