@model HitechCraft.WebAdmin.Models.NewsViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2 class="page-title">@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8" style="min-height: 250px">
        <div class="col-md-4">
            @if (Convert.ToBase64String(Model.Image) != String.Empty)
            {
                <img alt="" class="news-image-full" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)"/>
            }
            else
            {
                <img alt="" class="news-image-full" src="~/Content/Images/no-image.jpg"/>
            }
            <div class="btn-group-justified" style="margin-top: 20px;">
                <a class="btn btn-primary" href="@Url.Action("Edit", new {id = Model.Id})">Изменить</a>
                <a class="btn btn-primary" href="@Url.Action("Delete", new {id = Model.Id})">Удалить</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="news-text" id="news-text">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        LoadNewsText();
        LoadComments(1);
    });

    function LoadNewsText() {
        //Темная магия
        var text = "@Model.FullText";
        var tags = ['[p]', '[/p]', '[br]', '[ul]', '[/ul]', '[li]', '[/li]', '[b]', '[/b]', '[h5]', '[/h5]'];

        $.each(tags, function(index, value) {
            var tag = value.replace(/\[/gi, '<').replace(/\]/gi, '>');
            value = value.replace(/\[/gi, '\\[').replace(/\]/gi, '\\]');

            var regExp = new RegExp(value,"gi");

            text = text.replace(regExp, tag);
        });

        $('#news-text').html('');
        $('#news-text').html(text);
    }

    function FilterComments(currentPage) {
        LoadComments(currentPage);
    }

    function LoadComments(currentPage) {
        $.get("@Url.Action("CommentsPartialList", "News")", { page: currentPage, newsId : @Model.Id })
            .done(function (data) {
                $('#comments').html('');
                $('#comments').html(data);
            });
    }

    function AddComment() {

        var captchaInfo = grecaptcha.getResponse();

        $.post("@Url.Action("Create", "Comment")", { newsId: parseInt($('#newsId').val()), text: $('#ncomment-text').val(), recaptcha: captchaInfo })
            .done(function (data) {
                if (data == "OK") {
                    growlSuccess("Комментарий добавлен!");

                    setTimeout(function() {
                        location.reload();
                    }, 2000);
                } else {
                    $('#error-alert').html('');
                    $('#error-alert').html(data);
                }
            });
    }

    function RemoveComment(commentId) {
        if (confirm("Вы уверены?")) {
            $.post("@Url.Action("Delete", "Comment")", { id : commentId })
                .done(function (data) {
                    LoadComments(1);
                });
        }
    }

    //function EditComment(commentId) {
    //    var text = $('#comment-text' + commentId + '>p').html();

    //    $('#comment-text' + commentId).html('<textarea>' + text + '</textarea>');
    //    $('#comment-edit-btn').html('Сохранить');
    //    $('#comment-edit-btn').attr('onclick', 'javascript:SaveComment(' + commentId + ')');
    //}


</script>
