@model IEnumerable<WebApplication.Models.BanViewModel>

@if (Model.Any())
{
    <div class="ban-row">
        <div class="ban-cell">Ник игрока</div>
        <div class="ban-cell">Причина</div>
        <div class="ban-cell">Тип наказания</div>
        <div class="ban-cell">Ник администратора</div>
        <div class="ban-cell">Дата и время</div>
    </div>

    foreach (var banLog in Model)
    {
        <div class="ban-row" onclick="javascript:redirectToBanAction(@banLog.Id);">
            <div class="ban-cell">@banLog.PlayerName</div>
            <div class="ban-cell">@banLog.Reason</div>
            <div class="ban-cell">@banLog.Type</div>
            <div class="ban-cell">@banLog.BannedBy</div>
            <div class="ban-cell">@banLog.ActionTime</div>
        </div>
    }
}
else
{
    <h4 style="text-align: center">Записей не найдено</h4>
}
