
@{
    ViewBag.Title = "Предметы магазина";
}

<h2 class="page-title">@ViewBag.Title</h2>


<div class="list-button">
    <input id="filter" class="form-control" placeholder="Поиск по названию" />

    @Html.ActionLink("Добавить предмет", "CreateItem", "ShopItem", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Добавить категорию", "ItemCategory", "ShopItem", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Добавить модификацию", "Create", "Modification", null, new { @class = "btn btn-primary" })
    @*<a href="javascript:Export()" class="btn btn-primary">Экспорт предметов</a>*@
</div>
<div id="itemsList">
    @Html.Action("ItemsPartialList")
</div>

<script type="text/javascript">
    $('#filter')
        .on('input',
            function () {
                LoadItems(null);
            });

    function FilterItems(page) {
        LoadItems(page);
    }

    function LoadItems(pageNumber) {
        $.ajax({
            url: '@Url.Action("ItemsPartialList")',
            data: {
                page: pageNumber,
                itemTitleFilter: $('#filter').val()
            }
        }).done(function (data) {
            $('#itemsList').html('');
            $('#itemsList').html(data);
        });
    }

    function Export() {
        $.post('@Url.Action("ExportToExcel")',
            {},
            function(response) {
                if (response.status === "OK") {
                    growlSuccess(response.message);
                } else {
                    growlError(response.message);
                }
            });
    }
</script>
