@model IEnumerable<HitechCraft.WebApplication.Models.ModificationViewModel>

@{
    ViewBag.Title = "Список модификаций";
}

<h2>@ViewBag.Title</h2>

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var mod in Model)
        {
            <div class="col-md-6">
                <div class="panel panel-default modification-panel">
                    <div class="panel-heading">
                        <a href="@Url.Action("Details", new {id = mod.Id})">@mod.Name</a>
                    </div>
                    <div class="panel-body text-center">
                        <img class="modification-image" src="data:image/jpeg;base64,@Convert.ToBase64String(mod.Image)" alt="">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="server-description text-left">
                                    @if (mod.Description.Length >= 130)
                                    {
                                        @mod.Description.Substring(0, 130)
                                    }
                                    else
                                    {
                                       @mod.Description
                                    }
                                </p>
                            </div>
                            <div class="col-md-6">
                                <ul class="server-info text-left">
                                    <li><span>Версия: </span>@mod.Version</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    if (User.IsInRole("Administrator"))
    {

        <div>
            @Html.ActionLink("Добавить", "Create", "Modification", null, new { @class = "btn btn-success" })
        </div>
    }
}
else
{
    <p>Модификаций не найдено</p>
}
