@using PagedList.Mvc
@model PagedList.IPagedList<WebApplication.Models.NewsViewModel>
@{
    Layout = null;
}

@if (Model != null && Model.Any())
{
    foreach (var news in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">@Html.ActionLink(news.Title, "Details", "News", new { id = news.Id }, new { @class = "" })</div>
            <div class="panel-body">
                <div class="col-md-5">
                    @if (Convert.ToBase64String(news.Image) != String.Empty)
                    {
                        <img alt="" class="news-image" src="data:image/jpeg;base64,@Convert.ToBase64String(news.Image)" onclick="document.location = '@Url.Action("Details", "News", new { id = news.Id })'"/>
                    }
                    else
                    {
                        <img alt="" class="news-image" src="~/Content/Images/no-image.jpg" onclick="document.location = '@Url.Action("Details", "News", new { id = news.Id })'"/>
                    }
                </div>
                <div class="col-md-7" style="min-height: 250px">
                    <p>@news.Text</p>
                </div>
            </div>
            <div class="panel-footer cols">
                <span class="footer-left">Автор: @news.AuthorName</span>
                <span class="footer-right">Дата: @news.TimeCreate.ToShortDateString()</span>
                <div class="clear"></div>
            </div>
        </div>
        
    }

    @Html.PagedListPager(Model, page => "javascript:FilterNews(" + page + ")")
}
else
{
    <h2 style="text-align: center">Нет новостей</h2>
}