<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – HitechCraft - Multiserver Complex</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="ajax-loader">
        <img src="/Content/Images/loader.gif"/>
        <span>Загрузка...</span>
    </div>
    <div class="ajax-bg"></div>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @Html.Partial("_Header")
        <div class="row wrapper">
            <div class="cont">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer-content">
        @Html.Partial("_Footer")
    </div>
    <script type="text/javascript">
        $(document).ajaxStart(function () {
            $('.ajax-loader').show();
            $('.ajax-bg').show();
            $('body').css('overflow', 'hidden');
        }).ajaxStop(function () {
            $('.ajax-loader').hide();
            $('.ajax-bg').hide();
            $('body').css('overflow', 'visible');
        });

        $('.dropdown-toggle').on('mouseenter', function () {
            $(this).dropdown('toggle');
        });

        $('.dropdown-toggle').on('mouseleave', function () {
        });
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
