@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li>
            @Html.ActionLink("Профиль", "Profile", "Player")
            <ul>
                <li>@Html.ActionLink("Безопасность", "Security", "Player")</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
            </ul>
        </li>
    }
}
else
{
    <li>
        @Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
        <ul>
            <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
        </ul>
    </li>
}
