<div class="navbar">
    <ul class="nav menu">
        <li><a href="/">Главная</a></li>
        <li><a href="http://forum.hitechcraft.ru">Форум</a></li>
        <li>@Html.ActionLink("Правила", "Rules", "Home")</li>
        <li>@Html.ActionLink("Начать игру", "GameStart", "Home", null, new { @class = "gamestart" })</li>
        <li>
            @Html.ActionLink("V.I.P Группы", "Groups", "Donate")
            <ul>
                <li><a href="#">Магазин блоков</a></li>
                <li><a href="#">Банлист</a></li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("О проекте", "About", "Home")
            <ul>
                <li><a href="#">Сервера</a></li>
                <li><a href="#">Банлист</a></li>
            </ul>
        </li>

        @Html.Partial("_LoginPartial")
    </ul>
</div>

<script type="text/javascript">
    $("ul.menu li:has(ul)").hover(function () {
        $(this).find("ul").slideDown("fast");
    }, function () {
        $(this).find("ul").slideUp("fast");
    }
)

    $("ul.menu > li").hover(function () {
        $(this).addClass('current');
    }, function () {
        $(this).removeClass('current');
    });

    $("ul.menu li a:has(ul)").addClass('with-child');
</script>