@using HitechCraft.WebApplication.Manager
@using PagedList.Mvc
@model PagedList.IPagedList<HitechCraft.WebApplication.Models.NewsViewModel>
@{
    Layout = null;
}

@if (User.IsInRole("Administrator"))
{
    <div class="news-administration">
        <a class="btn btn-primary" href="@(Const.WebAdminBaseUrl + "News")">Администрирование</a>
    </div>
}

@if (Model != null && Model.Any())
{
    foreach (var news in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink(news.Title, "Details", "News", new { id = news.Id }, new { @class = "" })
                @if (User != null && User.IsInRole("Administrator"))
                {
                    <div class="news-modify">
                        <span class="glyphicon glyphicon-pencil" onclick="document.location = '@(Const.WebAdminBaseUrl + "News/Edit/" + news.Id)'"></span>
                    </div>
                }
            </div>
            <div class="panel-body">
                <div class="col-md-12" style="min-height: 250px">
                    @if (Convert.ToBase64String(news.Image) != String.Empty)
                    {
                        <img alt="" class="news-image" src="data:image/jpeg;base64,@Convert.ToBase64String(news.Image)" onclick="document.location =
    '@Url.Action("Details", "News", new {id = news.Id})'" />
                    }
                    else
                    {
                        <img alt="" class="news-image" src="~/Content/Images/no-image.jpg" onclick="document
    .location = '@Url.Action("Details", "News", new {id = news.Id})'" />
                    }
                    <div class="news-text" id="news-text-@news.Id">
                    </div>
                </div>
            </div>
            <div class="panel-footer cols">
                <span class="footer-left">
                    <span class="glyphicon glyphicon-eye-open">
                        <span class="value">@news.ViewersCount</span>
                    </span>
                    <span class="glyphicon glyphicon-comment">
                        <span class="value">@news.CommentsCount.ToString()</span>
                    </span>
                </span>
                <span class="footer-right">
                    <span class="glyphicon glyphicon-calendar">
                        <span class="value">@news.TimeCreate.ToShortDateString()</span>
                    </span>
                </span>
                <div class="clear"></div>
            </div>
        </div>

        <script type="text/javascript">
            LoadNewsText('@Html.Raw(news.ShortText)', '@news.AuthorName', 'news-text-@(news.Id)')
        </script>
    }

    @Html.PagedListPager(Model, page => "javascript:FilterNews(" + page + ")")
}
else
{
    <h2 style="text-align: center">Нет новостей</h2>
}

<script type="text/javascript">
    function LoadNewsText(text, author, id) {
        text = text + '<h5>' + author + '</h5>'; //small fix for sign

        $('#' + id).html('');
        $('#' + id).html(text);
    }

    $(document).ready(function () {
        if ($('ul.pagination').children().length <= 1) {
            $('ul.pagination').css('visibility', 'hidden');
        }
    });
</script>