@model HitechCraft.WebAdmin.Models.ModificationViewModel
@{
    ViewBag.Title = "Мод " + Model.Name;
}

@if (Model != null)
{
    <h2 class="page-title">@ViewBag.Title</h2>

    <div class="row">
        <div class="col-md-6">
            @if (Model.Image != null && Convert.ToBase64String(Model.Image) != String.Empty)
            {
                <img alt="" class="mod-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" style="width: 100%;"/>
            }
            else
            {
                <img alt="" class="mod-image" src="~/Content/Images/no-image.jpg" />
            }

            <p><strong>Версия мода: @Model.Version</strong></p>
            <p>@Model.Description</p>
        </div>
        <div class="col-md-6">
            
            @if (!String.IsNullOrEmpty(Model.GuideVideoCode))
            {
                <h3 class="guide-title">Гайд на мод</h3>
                <iframe width="560" height="315" src="@("https://www.youtube.com/embed/" + @Model.GuideVideoCode)" frameborder="0" allowfullscreen></iframe>
            }
            else
            {
                <h3 class="guide-title">Гайд на мод не добавлен. <br/>Добавить его можно, @Html.ActionLink("изменив", "Edit", new { id = Model.Id }) модификацию!</h3>
            }

            <p>
                <h3>Используется на серверах:</h3>
                <br/>
                @if (Model.Servers != null && Model.Servers.Any())
                {
                    foreach (var server in Model.Servers)
                    {
                        @*<a href="@Url.Action("Details", "Server", new {id = server.Id})">@server.Name</a>*@<br/>
                    }
                }
                else
                {
                    <p>В данное время модификация не используется!</p>
                }
            </p>
        </div>
        </div>
        
        <div class="btn-group">
            @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
}
else
{
    <h2>Ошибка</h2>
    <p>@ViewBag.Error</p>
}