<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HitechCraft Administration</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body style="background: #2c3e50;color: #fff;">
    <div class="logo" style="margin: 45px auto 0px auto;"></div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <p class="lol-title">
        Надежная защита от школьников-тру-хацкеров долбаебов.
        <br/>Все права на нашей стороне.
        <br/>Если думаешь, что админ не прав - иди нахуй.
        <br/>Админка под защитой Бога сего мира.
    </p>
</body>
</html>
