@using HitechCraft.WebApplication.Manager
@model IEnumerable<HitechCraft.WebApplication.Models.RulePointViewModel>
@{
    ViewBag.Title = "Правила проекта";
}

<h2 class="page-title">@ViewBag.Title</h2>

@if (User.IsInRole("Administrator"))
{
    <a class="btn btn-primary" href="@(Const.WebAdminBaseUrl + "Rule")">Администрирование</a>
}

<h4 style="line-height: 32px;">Правила составлялись при содействии с Администрацией проекта. Не знание правил не освобождает игрока от ответственности!</h4>

@if (Model != null && Model.Any())
{
    <div class="rules">
        <ol>
            @foreach (var rulePoint in Model)
            {
                <li>
                    <h4>
                        @rulePoint.Name
                    </h4>

                    <ol>
                        @foreach (var rule in rulePoint.Rules)
                        {
                            <li>
                                <span id="rule-@rule.Id" onclick="EditRule(@rule.Id)">@rule.Text</span>
                            </li>
                        }
                    </ol>
                </li>
            }
        </ol>
    </div>
}
else
{
    <h3>Правил нет</h3>
}