@using HitechCraft.Common.Models.Enum
@using HitechCraft.DAL.Domain.Extentions
@model IEnumerable<HitechCraft.WebApplication.Models.PrivateMessageViewModel>

@if (Model != null && Model.Any())
{
    foreach (var message in Model)
    {
        <div onclick="javascript:LoadInboxMessage(@message.Id);" class="message-box">
            <div class="message-player">
                <img src="@Url.Action("GetSkinImage", "Player", new {playerName = message.Players.First(x => x.PlayerType == PMPlayerType.Author).PlayerName})" id="skin-image@(message.Id)" class="avaSkin@(message.Id)" hidden="" />
            </div>
            <div class="message-content">
                <p class="message-title">
                    @message.Title 
                    @if (message.Players.First(x => x.PlayerType == PMPlayerType.Recipient).MessageType == PMType.New)
                    {
                        <span class="alert alert-warning message-inbox-new" style="margin-top: 4px;" title="Новое сообщения!">New</span>
                    }
                </p>
                <p>@message.Text.Limit(120)</p>
                <p class="message-player-sign">@message.Players.First(x => x.PlayerType == PMPlayerType.Author).PlayerName</p>
                <div class="clear"></div>
                <div class="message-footer">
                    <p>@message.TimeCreate</p>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                renderMCSkins('avaSkin@(message.Id)', 9);
            });
        </script>
    }
}
else
{
    <h3>Папка пуста</h3>
}

<script type="text/javascript">
    function LoadInboxMessage(id) {
        $.get('@Url.Action("GetInboxMessage")', { messageId: parseInt(id) },
        function (data) {
            if (data !== "NO") {
                $('#inbox').html('');
                $('#inbox').html(data);
            } else {
                growlError("Это сообщение недоступно вам во вкладке Входящие!");
            }
        });
    }
</script>