@using WebApplication.Properties
@model WebApplication.Models.ChangePasswordViewModel
@{
    Layout = null;
}

<div class="modal fade bs-example-modal-sm" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Resources.ChangePassword</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert" id="error-alert">
                    <span>Обнаружены ошибки</span>
                    <ul id="errors"></ul>
                </div>
                <div class="col-md-12">
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "changePassword" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword)
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword)
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="btn-group-justified">
                                <a href="javascript:submit()" class="btn btn-primary">@Resources.Edit</a>
                                <a class="btn btn-default" data-dismiss="modal" aria-label="Close">@Resources.Close</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).on('ready', CheckErrorMessages());

    function CheckErrorMessages() {
        var errors = $('ul#errors').find('li');

        if (errors.length === 0) {
            $('#error-alert').css('display', 'none');
        } else {
            $('#error-alert').css('display', 'block');
        }
    }

    $('input').on('input', function () {
        CheckFormValid('changePassword');
    });

    function submit() {
        if (CheckFormValid('changePassword')) {
            $.post('@Url.Action("ChangePassword")', $('#changePassword').serialize())
                .done(function (data) {
                    if (data.status === 0) {
                        $('ul#errors').html('');
                        $('ul#errors').html(data.response);
                    } else if (data.status === 1) {
                        growlSuccess('Пароль успешно изменен!');
                        ClearForm();
                        $('#changePasswordModal').modal('hide');
                    }

                    CheckErrorMessages();
                }).fail(function (data) {
                    $('ul#errors').html('');
                    $('ul#errors').html(data);
                    CheckErrorMessages();
                });
        }
    }

    function CheckFormValid(formId) {
        var formObj = $('#' + formId);
        var inputs = formObj.find('input');
        var spans = formObj.find('span.field-validation-valid');
        var valid = true;

        ClearHtml(spans);

        $.each(inputs, function (index, value) {
            if (!$(value).val()
                && $(value).attr('data-val-required')) {

                var span = formObj.find('span.field-validation-valid[data-valmsg-for=' + $(value).attr('id') + ']');

                $(span).html('');
                $(span).html($(value).attr('data-val-required'));

                valid = false;
            }
        });

        return valid;
    }

    function ClearHtml(list) {
        $.each(list, function (index, value) {
            $(value).html('');
        });
    }

    function ClearForm() {
        var formObj = $('#' + formId);
        var inputs = formObj.find('input');

        $.each(inputs, function(index, value) {
            $(value).val('');
        });
    }
</script>