@model WebApplication.Models.NewsViewModel
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
@Html.ActionLink("Edit", "Edit", new { id = Model.Id })<br/>
@Html.ActionLink("Delete", "Delete", new { id = Model.Id })<br />
<img alt="" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" style="max-width: 500px"/>

<p>@Model.Title</p>
<p>@Model.Text</p>

<div id="comments">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        LoadComments(1);
    });

    function FilterComments(currentPage) {
        LoadComments(currentPage);
    }

    function LoadComments(currentPage) {
        $.get("@Url.Action("CommentsPartialList", "News")", { page: currentPage, newsId : @Model.Id })
        .done(function (data) {
            $('#comments').html('');
            $('#comments').html(data);
        });
    }
</script>